[user]
	email = alexanderytsu@gmail.com
	name = Alex Su
[credential]
	helper = store
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	s = status -sb
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
	excludesfile = /home/alexytsu/.gitignore_global

[pull]
	rebase = true
[merge]
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

# This next lines include Netlify's Git Credential Helper configuration in your Git configuration.
[include]
  path = /home/alexytsu/.netlify/helper/git-config
